.preferences-page {
	/* max-width: 1440px; */
	max-width: 1110px;
	height: auto;
	margin: 0 auto;
	padding: 50px 0 100px;
	display: flex;
	flex-direction: column;
}

.preferences-page__container {
	padding: 0;
	max-width: 1110px;
	gap: 30px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
	grid-template-rows: repeat(auto-fill, minmax(160px, 1fr));
	margin: 0 auto;
	padding: 0 0 80px;
}

.preferences-page__list {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	width: 160px;
	height: 160px;
	border-radius: 50%;
	line-height: 23px;
	font-size: 18px;
}

.preferences-page-checkbox__appearance {
	width: 160px;
	height: 160px;
	border: 1px solid #2b2f33;
	border-radius: 80px;
	display: flex;
	cursor: pointer;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	line-height: 26px;
	font-size: 17px;
	text-align: center;
	transition: color 0.3s, border 0.3s;
}

.preferences-page-checkbox__input[type='checkbox'] {
	position: absolute;
	width: 160px;
	height: 160px;
	overflow: hidden;
	outline: none;
	clip-path: inset(0 0 0 0);
	appearance: none;
	border-radius: 50%;
}

.preferences-page-checkbox__input[type='checkbox']:checked
	+ .preferences-page-checkbox__appearance {
	background-color: #ffcc33;
	transition: background-color 0.3s;
}

.preferences-page-checkbox__input[type='checkbox']:hover
	+ .preferences-page-checkbox__appearance {
	color: #d1d5db;
	border: #233958 solid 1px 50%;
	cursor: pointer;
}

.preferences-page__overlay {
	background: #d1d5db;
	width: 100%;
	height: 100%;
	opacity: 0.7;
}

.preferences-page__title {
	color: white;
	margin: 0;
	padding: 68px 0 0;
	line-height: 50px;
	font-size: 40px;
	font-weight: 700;
	text-align: start;
}

.preferences-page__subtitle {
	line-height: 31px;
	font-size: 25px;
	font-weight: 500;
	color: white;
	padding: 85px 0 50px;
	text-align: start;
}
@media screen and (max-width: 1300px) {
	.preferences-page__container {
		column-gap: 20px;
	}
	.preferences-page__title {
		margin-left: 50px;
		padding-top: 20px;
	}
	.preferences-page__subtitle {
		margin-left: 50px;
		padding-top: 25px;
		padding-bottom: 25px;
	}
}
@media screen and (max-width: 1300px) {
	.preferences-page__container {
		grid-template-columns: repeat(6, 137px);
		grid-template-rows: 137px;
		padding-bottom: 53px;
	}
	.preferences-page__list {
		width: 137px;
		height: 137px;
	}
}

@media screen and (max-width: 1000px) {
	.preferences-page__container {
		grid-template-columns: repeat(4, 137px);
		gap: 15px;
	}
	.preferences-page {
		max-width: 710px;
	}
	.preferences-page__subtitle {
		padding: 0;
	}
}
@media screen and (max-width: 650px) {
	.preferences-page {
		align-items: center;
	}
	.preferences-page__title {
		margin-left: 0;
	}
	.preferences-page__subtitle {
		margin-left: 0;
	}
	.preferences-page__container {
		display: flex;
		flex-direction: column;
	}
	.preferences-page__list {
		width: 320px;
		height: 50px;
		border-radius: 50px;
	}
}
@media screen and (max-width: 500px) {
	.preferences-page {
		max-width: 320px;
	}
	.preferences-page__title {
		font-size: 26px;
		line-height: 28px;
		align-self: flex-start;
	}
	.preferences-page__subtitle {
		font-size: 16px;
		margin: 10px 0 40px 0;
		align-self: flex-start;
	}
}
