.preferencespage {
	max-width: 1440px;
	height: auto;
	margin: 0 auto;
	position: relative;
}

.preferencespage__container {
	padding: 0;
	max-width: 1110px;
	gap: 30px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
	grid-template-rows: repeat(auto-fill, minmax(160px, 1fr));
	margin: 0 auto;
}

.preferencespage__list {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	width: 160px;
	height: 160px;
	border-radius: 50%;
}

.title {
	max-width: 1110px;
	color: white;
	margin: 68px auto 85px auto;
}

.subtitle {
	max-width: 1110px;
	color: white;
	margin: 0 auto 50px auto;
}
