.popupsavebutton {
	position: fixed;
	visibility: hidden;
	width: 540px;
	font-size: 20px;
	line-height: 26px;
	font-weight: 700;
	padding: 15px 0;
	background-color: #9ca3af;
	color: white;
	outline: none;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	margin: 85px auto 102px auto;
	display: block;
	transition: background-color 0.2s;
}

.popupsavebutton-overlay {
	background-color: rgba(43, 47, 51, 0.4);
	align-items: center;
	position: fixed;
	justify-content: center;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	visibility: hidden;
	width: 100%;
	height: 100%;
}

.popupsavebutton_open {
	opacity: 1;
	visibility: visible;
}

.popupsavebutton__container {
	width: 620px;
	height: 323px;
	background-color: white;
	border-radius: 30px;
	position: fixed;
	top: 344px;
	left: 396px;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.button__close {
	width: 540px;
	height: 55px;
	font-size: 20px;
	line-height: 25px;
	font-weight: 500;
	background-color: white;
	color: black;
	cursor: pointer;
	border: none;
	text-decoration: underline;
	margin: 10px 40px 40px 40px;
}

.button__main {
	width: 540px;
	height: 55px;
	font-size: 20px;
	line-height: 26px;
	font-weight: 700;
	background-color: #ffcc33;
	border: none;
	color: black;
	border-radius: 10px;
	cursor: pointer;
	margin: 0px 40px;
}

.popupsavebutton-container_open {
	opacity: 1;
	visibility: visible;
}

.popupsavebutton__title {
	margin: 40px 40px 0px 40px;
	font-size: 30px;
	line-height: 37px;
	font-weight: 700;
}

.popupsavebutton__subtitle {
	margin: 30px 40px;
	font-size: 20px;
	line-height: 25px;
	font-weight: 500;
}
