.first-screen-compilation {
	max-width: 1440px;
	height: 810px;
	margin: 0;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;
	position: relative;
	margin-bottom: 70px;
}

/* @media screen and (max-width: 1400px) {
	.first-screen-compilation {
		width: 1400px;
	}
}

@media screen and (max-width: 1289px) {
	.first-screen-compilation {
		width: 1289px;
	}
} */

@media screen and (max-width: 1297px) {
	.first-screen-compilation {
		max-width: 1024px;
		height: 576px;
	}
}

@media screen and (max-width: 360px) {
	.first-screen-compilation {
		max-width: 360px;
		max-height: 661x;
	}
}

.movie {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	gap: 20px;
	margin: 432px auto 80px 145px;
	z-index: 1;
}

@media screen and (max-width: 1297px) {
	.movie {
		margin: 208px auto 90px 130px;
	}
}

@media screen and (max-width: 360px) {
	.movie {
		margin: 374px 20px 60px 20px;
		gap: 40px;
		max-height: 247px;
	}
}

.movie__img {
	position: absolute;
	width: 100%;
	height: 100%;
}

.movie__overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2));
	pointer-events: none;
}

.movie__name {
	font-family: Oswald;
	font-size: 48px;
	font-style: normal;
	font-weight: 500;
	line-height: 56px;
	color: white;
	margin: 0;
}

@media screen and (max-width: 360px) {
	.movie__name {
		font-family: Oswald;
		font-size: 36px;
		font-style: normal;
		font-weight: 600;
		line-height: 53px;
		color: white;
		margin: 0;
	}
}

.movie__score {
	font-family: Mulish;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 12px;
	color: white;
	display: flex;
	gap: 20px;
}

.movie__score_type_kp,
.movie__score_type_imdb {
	display: flex;
	align-items: center;
	gap: 5px;
}

.score-icon_type_kp {
	width: 17px;
	height: 17px;
	background-color: aliceblue;
	border-radius: 50%;
}

.score-icon_type_imdb {
	width: 35px;
	height: 17px;
	background-color: aliceblue;
	border-radius: 3px;
}

.score-text {
	padding: 0;
	margin: 0;
}

.movie__description {
	font-family: Mulish;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	color: white;
	max-width: 373px;
	text-align: start;
}

@media screen and (max-width: 360px) {
	.movie__description {
		font-family: Mulish;
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 20px;
		color: white;
		margin: 0;
	}
}

.button-wraper {
	display: flex;
	gap: 20px;
}

.movie__more-detailed {
	font-family: Unbounded;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px;
	text-align: center;
	text-transform: uppercase;
	color: black;
	text-decoration: none;
	padding: 10px 15px;
	background-color: #fc3;
	max-width: 144px;
	height: 45px;
	border-radius: 6px;
	box-sizing: border-box;
	cursor: pointer;
}

@media screen and (max-width: 360px) {
	.movie__more-detailed {
		font-weight: 700;
		line-height: 17px;
		max-width: 265px;
		height: 45px;
	}
}

.movie__bookmark {
	width: 45px;
	height: 45px;
	padding: 0 15px;
	background-image: url('../../images/Bookmark.svg');
	background-size: 40%;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 6px;
}
