.first-screen-compilation {
	width: 1440px;
	min-height: 810px;
	margin: auto;
	box-sizing: border-box;
	/* background-image: url('../../images/The_Covenant.png'); */
	/* background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url('../../images/The_Covenant.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	object-fit: cover;
	z-index: -1; */
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 20px;
	position: relative;
	margin-bottom: 100px;
}

.movie {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: start;
	gap: 20px;
	margin: 432px auto 80px 145px;
}

.movie__img {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
}

.movie__img::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, #000000cc, #0000004d);
	z-index: 1;
	pointer-events: none;
}

.movie__name {
	font-family: Oswald;
	font-size: 48px;
	font-style: normal;
	font-weight: 500;
	line-height: 56px;
	color: white;
	margin: 0;
}

.movie__score {
	font-family: Mulish;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 12px;
	color: white;
	display: flex;
	gap: 20px;
}

.movie__score_type_kp,
.movie__score_type_imdb {
	display: flex;
	align-items: center;
	gap: 5px;
}

.score-icon_type_kp {
	width: 17px;
	height: 17px;
	background-color: aliceblue;
	border-radius: 50%;
}

.score-icon_type_imdb {
	width: 35px;
	height: 17px;
	background-color: aliceblue;
	border-radius: 3px;
}

.score-text {
	padding: 0;
	margin: 0;
}

.movie__description {
	font-family: Mulish;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	color: white;
	max-width: 373px;
	text-align: start;
}

.button-wraper {
	display: flex;
	gap: 20px;
}

.movie__more-detailed {
	font-family: Unbounded;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px;
	text-align: center;
	text-transform: uppercase;
	color: black;
	text-decoration: none;
	padding: 10px 15px;
	background-color: #fc3;
	max-width: 144px;
	height: 45px;
	border-radius: 6px;
	box-sizing: border-box;
}

.movie__bookmark {
	width: 45px;
	height: 45px;
	padding: 0 15px;
	background-image: url('../../images/Bookmark.svg');
	background-size: 40%;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 6px;
}
