.flexbutton {
	display: flex;
	padding: 0;
	align-self: start;
	flex-direction: row;
	height: 30px;
	width: 180px;
	position: absolute;
	top: 20px;
	right: 140px;
}

@media screen and (max-width: 1297px) {
	.flexbutton {
		top: 15px;
		right: 40px;
	}
}

@media screen and (max-width: 360px) {
	.flexbutton {
		top: 15px;
		right: -180px;
	}
}

.button-showall {
	font-family: 'Unbounded';
	padding: 0 10px 0 0;
	border: none;
	color: #ffcc33;
	background-color: transparent;
	cursor: pointer;
	font-size: 18px;
	font-weight: 300;
	line-height: 30px;
	align-self: center;
}

@media screen and (max-width: 360px) {
	.button-showall {
		display: none;
	}

	.arrowright {
		margin-left: 10px;
		width: 20px;
		height: 20px;
		align-self: center;
	}
}

.arrowright {
	margin: 0;
	width: 20px;
	height: 20px;
	align-self: center;
}

.button-showall:disabled {
	color: #fff;
	background-color: #9ca3af;
	cursor: not-allowed;
}

.flexbutton:hover {
	opacity: 0.3;
}
