.loader {
    display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
    margin: 0 0 0 200px;
}

.loader__img {
    width: 71px;
    height: 258px;
    background-image: url('../../images/loader1.svg'); 
    background-repeat:repeat-y;
    background-size: cover;
    top: 0;
    bottom: 100%;
    position: relative;
    overflow: hidden;
    animation: slideDown 3s linear infinite;
}

.loader__img_plus {
    width: 201px;
    height: 258px;
    background-image: url('../../images/loader2.svg'); 
    background-size: cover;
    position: relative;
    overflow: hidden;
}


@keyframes slideDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100px); /* Передвигаем на 100 пикселей вниз */
    }
}

