.input__container {
	display: flex;
	flex-direction: column;
	position: relative;
}

.input__label {
	font-size: 16px;
	line-height: 18px;
}

.input__label_color_white {
	color: #ffffff;
}

.input__field {
	font-size: 16px;
	line-height: 18px;
	padding: 10px 15px;
	border-radius: 10px;
	border: 0.5px solid #9ca3af;
}

.input__field:invalid {
	color: #ea4335;
	border: 0.5px solid #ea4335;
}

.input__field_disabled:focus {
	outline: none;
}

.input__field_color_black {
	background-color: #0c0c0c;
	color: #9ca3af;
	border: 0.5px solid #9ca3af;
}

.input__field_color_black:invalid {
	color: #9ca3af;
	border: 0.5px solid #9ca3af;
}

.input__field_color_grey {
	background-color: #9ca3af;
	color: #6b7280;
	border: 0.5px solid #6b7280;
}

.input__field_color_grey:invalid {
	color: #6b7280;
	border: 0.5px solid #6b7280;
}

.input__span {
	color: #9ca3af;
	font-size: 14px;
	line-height: 18px;
}

.input__button {
	background-image: url(../../images/eye.svg);
	position: absolute;
	top: 27px;
	right: 15px;
	width: 20px;
	height: 20px;
	border: none;
	background-color: #fff;
	padding: 0;
	margin: 0;
	cursor: pointer;
	transition: opacity 0.2s;
}

.input__button:hover {
	opacity: 0.6;
}
