.input__container {
	flex-direction: column;
	position: relative;
}
.input__container_type_desktop {
	display: flex;
}

.input__hints {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.input__label {
	font-size: 16px;
	line-height: 18px;
}

.input__label_color_white {
	color: #ffffff;
}

.input__error {
	color: #ea4335;
	font-size: 12px;
	font-weight: 400;
	line-height: 12px;
	display: inline-block;
	height: 100%;
}

.input__field {
	box-sizing: border-box;
	font-size: 16px;
	line-height: 18px;
	padding: 10px 15px;
	border-radius: 10px;
	border: 0.5px solid #9ca3af;
}

.input__field:focus {
	outline: none;
	border: 0.5px solid #0c0c0c;
}

.input__field:read-only:focus {
	outline: none;
}

.input__field_color_black {
	background-color: #0c0c0c;
	color: #9ca3af;
	border: 0.5px solid #9ca3af;
}

.input__field_color_black:focus {
	color: #fff;
	outline: none;
	border: 0.5px solid #9ca3af;
}

.input__field_color_black:invalid {
	color: #ea4335;
	border: 0.5px solid #ea4335;
}

.input__field_invalid {
	color: #ea4335;
	border: 0.5px solid #ea4335;
}

.input__field_invalid:focus {
	border: 0.5px solid #ea4335;
}

.input__span {
	color: #9ca3af;
	font-size: 14px;
	line-height: 18px;
}

.input__button {
	background-image: url(../../images/eye.svg);
	position: absolute;
	top: 27px;
	right: 15px;
	width: 20px;
	height: 20px;
	border: none;
	background-color: inherit;
	padding: 0;
	margin: 0;
	cursor: pointer;
	transition: opacity 0.2s;
}

.input__button:hover {
	opacity: 0.6;
}

.input__field_type_date {
	text-transform: uppercase;
}
.input__container_type_mobile {
	display: none;
}
@media screen and (max-width: 1260px) {
	.input__field {
		padding: 11px 12px;
	}
}
@media screen and (max-width: 1000px) {
	.input__container_type_desktop {
		display: none;
	}
	.input__container_type_mobile {
		display: flex;
		justify-content: center;
	}

	.input__error-container {
		height: 25px;
	}
	.input__span_type_password {
		font-size: 12px;
		line-height: 13px;
		display: inline-block;
	}
}
@media screen and (max-width: 600px) {
	.input__hints_type_profile {
		padding-bottom: 7px;
	}
	.input__field {
		padding: 9px 11px;
	}
}
