.actorslist {
	margin: 147px 0 0 0;
	max-width: 469px;
}

.actorslist__container {
	display: flex;
	flex-wrap: wrap;
}

.actorslist__title {
	margin: 0 0 30px 0;
	color: #fff;
	font-size: 20px;
	font-family: DM Sans;
	font-style: normal;
	font-weight: 700;
	line-height: 18px;
}
