.cards__button {
	border: none;
	color: #ffcc33;
	background-color: transparent;
	padding: 0;
	font-size: 18px;
	font-weight: 300;
	line-height: 30px;
	cursor: pointer;
	transition: 0.2s color ease-in-out;
}

.cards__button:hover {
	color: #cc9900;
}
