.selections {
	color: white;
	display: flex;
	flex-wrap: wrap;
	gap: 50px 30px;
	margin: 0;
}

.selections_cards {
	display: flex;
	flex-direction: column;
	max-width: 255px;
}

.selections_card {
	width: 255px;
	min-height: 239px;
	position: relative;
}

.selections_img {
	width: 155px;
	height: 235px;
	position: absolute;
	left: 0;
	right: 0;
	display: flex;
	visibility: visible;
	z-index: 3;
	border-radius: 10px;
	border: 2px solid black;
}

.selections_img:nth-child(2) {
	position: absolute;
	left: 48px;
	right: 0;
	z-index: 2;
}

.selections_img:nth-child(3) {
	position: absolute;
	left: 96px;
	right: 0;
	z-index: 1;
}

.selections_title {
	margin: 0;
	margin-top: 10px;
	font-size: 17px;
	font-weight: 600;
	line-height: 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.selections_description {
	margin: 0;
	font-size: 12px;
	font-weight: 500;
	line-height: 12px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
