.selections {
	color: white;
	display: flex;
	flex-wrap: wrap;
	gap: 50px 30px;
	margin: 0 auto;
}

.selections_cards {
	display: flex;
	flex-direction: column;
	max-width: 255px;
}

@media screen and (max-width: 1297px) {
	.selections_cards {
		max-width: 288px;
	}
}

@media screen and (max-width: 767px) {
	.selections_cards {
		max-width: 321px;
	}
}

.selections_cards:hover {
	cursor: pointer;
}

.selections_card {
	width: 255px;
	min-height: 239px;
	position: relative;
	z-index: 0;
}

@media screen and (max-width: 1297px) {
	.selections_card {
		max-width: 288px;
	}
}

@media screen and (max-width: 767px) {
	.selections_card {
		max-width: 321px;
	}
}

.selections-card__background {
	display: block;
	position: relative;
}

.selections-card__background::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(43, 47, 51, 0.4);
	opacity: 0;
	transition: 0.2s opacity ease-in-out;
}

.selections-card__background:hover:after {
	opacity: 1;
	cursor: pointer;
}

.selections_img {
	width: 155px;
	height: 235px;
	position: absolute;
	left: 0;
	right: 0;
	display: flex;
	visibility: visible;
	z-index: 3;
	border-radius: 10px;
	border: 2px solid black;
}

@media screen and (max-width: 767px) {
	.selections_img {
		height: 207px;
	}
}

.selections_img:nth-child(2) {
	position: absolute;
	left: 48px;
	right: 0;
	z-index: 2;
}

.selections_img:nth-child(3) {
	position: absolute;
	left: 96px;
	right: 0;
	z-index: 1;
}

.selections_title {
	margin: 0;
	margin-top: 10px;
	font-size: 17px;
	font-weight: 600;
	line-height: 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.selections_description {
	margin: 10px 0 0 0;
	font-size: 12px;
	font-weight: 500;
	line-height: 12px;
	overflow: hidden;
	white-space: wrap;
	text-overflow: ellipsis;
	max-height: 24px;
}