.button {
	width: 100%;
	max-width: 540px;
	font-size: 20px;
	line-height: 26px;
	font-weight: 700;
	padding: 15px 0;
	align-self: center;
	background-color: #fc3;
	color: #2b2f33;
	outline: none;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	transition: background-color 0.2s;
}

.button:hover {
	background-color: #c90;
}

.button:disabled {
	color: #fff;
	background-color: #9ca3af;
	cursor: not-allowed;
}

.button:disabled:hover {
	opacity: 1;
}

@media screen and (max-width: 1260px) {
	.button {
		width: 288px;
		align-self: end;
	}

	.button_type_toMain {
		width: 540px;
		align-self: center;
	}

	.button_type_preferences {
		margin-right: 50px;

	}
}

.button_type_preferences {
	margin-right: 50px;
}