.genre-checkbox {
	display: flex;
	position: relative;
}

.genre-checkbox__input[type='checkbox'] {
	position: absolute;
	width: 160px;
	height: 160px;
	overflow: hidden;
	outline: none;
	clip-path: inset(0 0 0 0);
	appearance: none;
	/* transition: color 0.3s; */
}

.genre-checkbox__input[type='checkbox']:hover {
	cursor: pointer;
}

.genre-checkbox__appearance {
	width: 160px;
	height: 160px;
	border: 1px solid #2b2f33;
	border-radius: 80px;
	cursor: pointer;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	line-height: 26px;
	font-size: 17px;
	text-align: center;
	transition: color 0.3s, border 0.3s;
}

.genre-checkbox__input[type='checkbox']:checked + .genre-checkbox__appearance {
	background-color: #ffcc33;
	transition: background-color 0.3s;
}

.genre-checkbox__input[type='checkbox']:hover + .genre-checkbox__appearance {
	color: #d1d5db;
	border: #d1d5db solid 1px;
	cursor: pointer;
}

@media screen and (max-width: 360px) {
	.genre-checkbox__img {
		opacity: 0;
	}

	.genre-checkbox__appearance {
		flex-direction: none;
	}
}
