.moviepage_card {
	max-width: 180px;
	position: relative;
	padding: 0 0 0 20px;
}

.moviepage_card-img {
	width: 180px;
	height: 240px;
	background-repeat: no-repeat;
	object-fit: cover;
	border-radius: 10px;
}

.bookmark-small {
	position: absolute;
	top: 10px;
	right: 10px;
}

.moviepage_card-title {
	color: white;
	font-size: 17px;
	font-weight: 600;
	line-height: 20px;
	margin: 0;
	margin-top: 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.moviepage_card-subtitle {
	color: white;
	font-size: 12px;
	font-weight: 500;
	line-height: 12px;
	margin: 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
