.allgenrespage {
	max-width: 1440px;
	height: auto;
	margin: auto;
	position: relative;
}

.allgenrespage__container {
	padding: 0;
	max-width: 1110px;
	/* max-height: 1110px; */
	gap: 30px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(198px, 1fr));
	grid-template-rows: repeat(auto-fill, minmax(198px, 1fr));
	margin: 0 auto 100px;
}

@media screen and (max-width: 1297px) {
	.allgenrespage__container {
		max-width: 1024px;
		margin: 50px 120px;
		grid-template-columns: repeat(auto-fill, minmax(137px, 1fr));
		grid-template-rows: repeat(auto-fill, minmax(137px, 1fr));
		gap: 20px;
		/* max-height: 1110px; */
	}
}


@media screen and (max-width: 767px) {
	.allgenrespage__container {
		max-width: 360px;
		padding: 20px 20px;
		display: block;
		gap: 20px;
		margin: 0 auto;
	}
}

.allgenrespage__link {
	display: flex;
	border-radius: 50%;
	text-align: center;
}

@media screen and (max-width: 767px) {
	.allgenrespage__link {
		max-width: 360px;
		border-radius: 0;
	}
}

.allgenrespage__link:hover {
	opacity: 0.7;
	border: 3px solid gray;
	cursor: pointer;
}

.allgenrespage__link {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	line-height: 23px;
	font-size: 18px;
	border: 3px solid white;
	border-radius: 100px;
	width: 198px;
	height: 198px;
	box-sizing: border-box;
	flex-direction: column;
	text-decoration: none;
	background-color: #0c0c0c;
}

@media screen and (max-width: 1297px) {
	.allgenrespage__link {
		width: 137px;
		height: 137px;
	}
}

@media screen and (max-width: 767px) {
	.allgenrespage__link {
		flex-direction: row;
		border: none;
		width: 360px;
		height: 45px;
		justify-content: flex-start;
	}
}

@media screen and (max-width: 1297px) {
	.allgenrespage__img {
		width: 40px;
		height: 40px;
	}
}

@media screen and (max-width: 1297px) {
	.allgenrespage__img {
		width: 35px;
		height: 35px;
	}
}

.allgenrespage__title {
	font-size: 20px;
	line-height: 25px;
	width: 500;
	color: white;
	font-family: Mulish;
}

@media screen and (max-width: 1297px) {
	.allgenrespage__title {
		font-size: 16px;
	}
}

@media screen and (max-width: 767px) {
	.allgenrespage__title {
		font-size: 18px;
		margin-left: 10px;
	}
}

.title {
	font-size: 18px;
	color: #fff;
	font-weight: 700;
	font-family: Unbounded;
	line-height: normal;
	margin-left: 20px;
	margin-top: 40px;
}

@media screen and (min-width: 767px) {
	.title {
		font-size: 35px;
		margin-left: 50px;
	}
}