.flank {
	background-color: #0c0c0c;
	max-width: 1100px;
	height: auto;
	margin: 0 auto;
	padding: 50px 0 0;
	display: flex;
	flex-direction: column;
}

.flank_title {
	color: white;
	font-family: Unbounded;
	font-size: 35px;
	font-weight: 700;
	line-height: 43.4px;
	margin: 0;
	padding-top: 20px;
}

.flank_container {
	max-width: 1100px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	padding: 0 0 83px;
	gap: 53px 28px;
}

.flank_btn {
	display: flex;
	justify-content: center;
	margin: 0 auto 100px;
}
