.popup {
	background-color: rgba(43, 47, 51, 0.4);
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	z-index: 10;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0.3s, opacity ease 0.3s;
}

.popup_opened {
	visibility: visible;
	opacity: 1;
}

.popup__container {
	max-width: 620px;
	box-sizing: border-box;
	width: 100%;
	margin: 50px auto 100px;
	padding: 40px;
	border-radius: 30px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;
}

.popup__title {
	font-size: 30px;
	line-height: 39px;
	font-weight: 700;
	margin: 0;
}

.popup__text {
	font-size: 20px;
	line-height: 26px;
	font-weight: 400;
	padding: 30px 0;
	margin: 0;
}

.popup__close {
	margin: 25px 0 15px;
	padding: 0;
	border: none;
	cursor: pointer;
	text-decoration: underline;
	color: #374151;
	background-color: inherit;
	font-family: Mulish;
	font-size: 20px;
	font-weight: 500;
	line-height: 25px;
	transition: color 0.3s;
}

.popup__close:hover {
	color: #0c0c0c;
}
.popup__x-btn {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: transparent;
	background: url('../../images/X.svg') center no-repeat;
	border: none;
	transition: opacity 0.5s;
	display: none;
}
.popup__x-btn:hover {
	cursor: pointer;
	opacity: 0.7;
}
@media screen and (max-width: 650px) {
	.popup__container {
		max-width: 320px;
		border-radius: 20px;
		padding-bottom: 20px;
		padding-left: 20px;
		padding-right: 20px;
	}
	.profile__title_type_saved-changes {
		display: none;
	}
	.profile__text_type_saved-changes {
		text-align: center;
		font-size: 16px;
		padding-top: 0;
		padding-bottom: 37px;
	}
	.popup__close_type_saved-changes {
		display: none;
	}
	.popup__x-btn {
		display: block;
	}
	.popup__title_type_delete-profile {
		font-size: 22px;
		text-align: center;
		font-weight: 700;
	}
	.popup__text_type_delete-profile {
		text-align: center;
		font-size: 16px;
		line-height: 19px;
		padding-top: 10px;
		padding-bottom: 40px;
	}
	.popup__close {
		font-size: 16px;
		text-decoration: none;
		margin-top: 20px;
		margin-bottom: 5px;
	}
	.popup__subtitle_type_profile-deleted {
		text-align: center;
	}
	.popup__title_type_profile-deleted {
		display: none;
	}
	.popup__subtitle_type_profile-deleted {
		margin: 0;
		padding-bottom: 40px;
	}
}
