.genres-slider__checkboxes-container {
	margin: 0;
	padding: 0;
	list-style-type: none;
	max-height: 540px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 30px;
	/* width: 1620px; */
	width: 100%;
	align-content: start;
	overflow: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.genres-slider__checkboxes-container::-webkit-scrollbar {
	display: none;
}

.genres-slider__controllers {
	display: flex;
	gap: 40px;
	justify-content: center;
}

.genres-slider__controller {
	background-image: url(../../images/arrow.svg);
	background-position: center;
	width: 36px;
	height: 36px;
	padding: 0;
	border: none;
	background-color: inherit;
	cursor: pointer;
	transition: opacity 0.2s;
}

.genres-slider__controller:hover {
	opacity: 0.5;
}

.genres-slider__controller_direction_left {
	transform: rotate(180deg);
}

.genres-slider__controller:disabled {
	opacity: 0.5;
}

.genres-slider__controller:disabled:hover {
	cursor: not-allowed;
}
