.genre-checkbox {
	display: flex;
	position: relative;
}

.genre-checkbox__input[type='checkbox'] {
	position: absolute;
	width: 160px;
	height: 160px;
	border-radius: 80px;
	overflow: hidden;
	outline: none;
	clip-path: inset(0 0 0 0);
	appearance: none;
	/* transition: color 0.3s; */
}

@media screen and (max-width: 1300px) {
	.genre-checkbox__input[type='checkbox'] {
		width: 137px;
		height: 137px;
	}
}

.genre-checkbox__input[type='checkbox']:hover {
	cursor: pointer;
}

.genre-checkbox__appearance {
	width: 160px;
	height: 160px;
	border: 1px solid #2b2f33;
	border-radius: 80px;
	cursor: pointer;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	line-height: 26px;
	font-size: 17px;
	text-align: center;
	transition: background-color 0.3s;
}

@media screen and (max-width: 1300px) {
	.genre-checkbox__appearance {
		width: 137px;
		height: 137px;
	}
}

.genre-checkbox__input[type='checkbox']:checked + .genre-checkbox__appearance {
	background-color: #ffcc33;
	transition: background-color 0.3s;
}

.genre-checkbox__input[type='checkbox']:hover + .genre-checkbox__appearance {
	color: #0c0c0c;
	border: #0c0c0c solid 1px;
	background-color: #d1d5db;
}

.genre-checkbox__input[type='checkbox']:hover:checked
	+ .genre-checkbox__appearance {
	background-color: #cc9900;
	transition: background-color 0.3s;
}

.genre-checkbox__input_color_yellow[type='checkbox']:hover:checked
	+ .genre-checkbox__appearance {
	background-color: #ffcc33;
	cursor: default;
}

.genre-checkbox__input_disabled[type='checkbox']:hover {
	cursor: default;
}

@media screen and (max-width: 1300px) {
	.genre-checkbox__input[type='checkbox'] {
		width: 137px;
		height: 137px;
	}

	.genre-checkbox__appearance {
		width: 137px;
		height: 137px;
	}
}

@media screen and (max-width: 1300px) {
	.genre-checkbox__input[type='checkbox'] {
		width: 137px;
		height: 137px;
	}

	.genre-checkbox__appearance {
		width: 137px;
		height: 137px;
	}
}

@media screen and (max-width: 650px) {
	.genre-checkbox__input_type_preferences[type='checkbox'] {
		width: 320px;
		height: 50px;
	}
	.genre-checkbox__appearance_type_preferences {
		width: 320px;
		height: 50px;
	}
}
