.profile {
	background-color: #0c0c0c;
	max-width: 1110px;
	margin: 0 auto;
	padding: 68px 0 100px;
	display: flex;
	gap: 220px;
}

.profile__form-container {
	flex-grow: 1;
}

.profile__title {
	color: #fff;
	font-family: 'Unbounded';
	font-size: 40px;
	line-height: 50px;
	font-style: normal;
	font-weight: 700;
	margin: 0;
	padding: 0 0 50px;
}

.profile__form {
	display: flex;
	flex-direction: column;
	max-width: 540px;
	gap: 20px;
}

.profile__input-container {
	display: flex;
	flex-direction: column;
}

.profile__input-link {
	align-self: flex-end;
	color: #9ca3af;
	font-size: 14px;
	line-height: 18px;
	font-weight: 500;
}

.profile__radio-title {
	color: #fff;
	margin: 0;
	padding: 0;
}

.profile__radio-label {
	color: #fff;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.profile__radio-buttons {
	display: flex;
	gap: 40px;
	padding: 11px 0 0 11px;
}

.profile__radio-button[type='radio'] {
	position: absolute;
	overflow: hidden;
	outline: none;
	clip-path: inset(0 0 0 0);
	appearance: none;
}

.profile__radio-button[type='radio']:hover {
	cursor: pointer;
}

.profile__radio-pseudo-item {
	min-width: 25px;
	height: 25px;
	border: 2px solid #9ca3af;
	border-radius: 80px;
	display: flex;
	cursor: pointer;
	box-sizing: border-box;
	text-align: center;
	transition: color 0.3s, border 0.3s;
	background-image: none;
}

.profile__radio-button[type='radio']:checked + .profile__radio-pseudo-item {
	background-image: radial-gradient(circle, #ffcc33 47%, #0c0c0c 47%);
	transition: background-image 0.3s;
	border: 2px solid #ffcc33;
}

.profile__radio-button[type='radio']:hover + .profile__radio-pseudo-item {
	color: #d1d5db;
	cursor: pointer;
}

.profile__radio-text {
	color: #fff;
	padding: 0 0 0 19px;
}

.profile__avatar-container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
}

.profile__avatar {
	background-color: #9ca3af;
	border-radius: 100px;
	max-width: 200px;
	max-height: 200px;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile__user-first-letter {
	margin: 0;
	padding: 0;
	font-family: 'Unbounded';
	font-size: 60px;
	font-weight: 700;
	line-height: 74px;
}

.profile__buttons {
	min-width: 350px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.profile__delete-button {
	color: #ea4335;
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
	text-decoration: underline;
	background-color: inherit;
	border: none;
	cursor: pointer;
	margin: 15px 0;
	padding: 0 0 0 30px;
	max-width: 170px;
	align-self: center;
	background-image: url(../../images/deleteRedIcon.svg);
	background-repeat: no-repeat;
	background-position: left;
}

.profile__preferences-button {
	width: 540px;
	font-size: 20px;
	line-height: 26px;
	font-weight: 700;
	padding: 15px 0;
	text-align: center;
	background-color: #9ca3af;
	color: white;
	border-radius: 10px;
	cursor: pointer;
	margin: 0 auto;
	text-decoration: none;
}
