.moviepage-description {
	display: flex;
	flex-direction: row;
	margin: 65px 0 0 0;
}

.moviepage-description__container {
	max-width: 769px;
}

.moviepage-description__title {
	margin: 0 0 20px 0;
	padding: 0;
	color: var(--white, #fff);
	font-size: 18px;
	font-family: Unbounded;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.moviepage-description__subtitle {
	margin: 0;
	padding: 0;
	color: var(--white, #fff);
	font-size: 16px;
	font-family: Mullish;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
}
