.save-button {
	width: 540px;
	font-size: 20px;
	line-height: 26px;
	font-weight: 700;
	padding: 15px 0;
	background-color: #9ca3af;
	color: white;
	outline: none;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	margin: 85px auto 102px auto;
	display: block;
}

.save-button:hover {
	opacity: 0.3;
}

.save-button:disabled {
	color: #fff;
	background-color: #9ca3af;
	cursor: not-allowed;
}

.save-button:disabled:hover {
	opacity: 1;
}
