.flanks_card {
	max-width: 255px;
	position: relative;
	cursor: pointer;
}

@media screen and (max-width: 1297px) {
	.flanks_card {
		max-width: 235px;
		padding-left: 10px;
	}
}

.flanks_card-img {
	width: 255px;
	height: 145px;
	background-repeat: no-repeat;
	/* object-fit: cover; */
	border-radius: 10px;
}

@media screen and (max-width: 1297px) {
	.flanks_card-img {
		width: 235px;
		height: 156px;
	}
}

.flanks-card__background {
	display: block;
	position: relative;
}

.flanks-card__background::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(43, 47, 51, 0.4);
	opacity: 0;
	transition: 0.2s opacity ease-in-out;
}

.flanks-card__background:hover:after {
	opacity: 1;
}

.bookmark-small {
	position: absolute;
	top: 10px;
	right: 10px;
}

.flanks_card-title {
	color: white;
	font-size: 17px;
	font-weight: 400;
	line-height: 20px;
	margin: 0;
	margin-top: 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: left;
}

.flanks_card-subtitle {
	color: #9ca3af;
	font-size: 12px;
	font-weight: 500;
	line-height: 12px;
	margin: 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: left;
}
