.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 118px;
	gap: 30px;
	background-color: #4b556333;
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	position: relative;
	/* margin-bottom: -118px; */
	z-index: 1;
}

@media screen and (max-width: 1279px) {
	.header {
		max-width: 1024px;
	}
}

.header__logo {
	display: flex;
	margin: 0 77px 0 120px;
	z-index: 6;
	position: relative;
	justify-content: center;
}

.header__logo1 {
	padding-right: 13px;
}

.header__container {
	display: flex;
	flex-direction: column;
	position: relative;
	/* height: 100%; */
}

.header__search {
	display: flex;
	flex-direction: row;
	align-items: center;
	max-width: 521px;
	width: 37.22vw;
	height: 40px;
	border: 2px solid #fff;
	border-radius: 6px;
}

.header__search-input {
	background-color: transparent;
	border: none;
	font-weight: 500;
	font-size: 16px;
	line-height: 20.08px;
	color: #fff;
	max-width: 750px;
	width: 100%;
	margin: 0 15px 0;
	outline: none;
}

.header__search-input::placeholder {
	color: #fff;
}

.header__search-button {
	margin: 0 15px 0 0;
	padding: 0;
	border: none;
	background-color: transparent;
	display: flex;
	align-items: center;
}

.header__search-button:hover {
	cursor: pointer;
	opacity: 0.6;
}

.header__content {
	position: absolute;
	display: none;
	z-index: 5;
	width: 256px;
	height: 250px;
	background-color: #141414;
	border-radius: 0 0 25px 25px;
	margin-top: 50px;
	top: -50px;
	left: 104px;
}

.header__content_open {
	display: block;
}

.header__list {
	display: flex;
	flex-direction: column;
	padding: 115px 0 0 25px;
	width: 190px;
}

.header__content-link {
	font-size: 18px;
	font-weight: 500;
	line-height: 25px;
	color: #fff;
	text-decoration: none;
	margin-bottom: 10px;
}

.header__content-link:hover {
	opacity: 0.6;
}

@media screen and (max-width: 1279px) {
	.header__logo {
		margin: 0 40px 0 60px;
	}

	.header__content {
		left: 44px;
	}
}

@media screen and (max-width: 1130px) {
	.header {
		height: 10vw;
	}
}

@media screen and (max-width: 360px) {
	.header {
		max-width: 360px;
	}

	.header__search {
		display: flex;
		flex-direction: row;
		align-items: center;
		width: 1.22vw;
		height: 40px;
		border: none;
	}

	.header__logo {
		margin: 5px 10px 5px 10px;
	}

	.header__search-input {
		display: none;
		background-color: transparent;
		border: none;
		font-weight: 500;
		font-size: 16px;
		line-height: 20.08px;
		color: #fff;
		max-width: 750px;
		width: 100%;
		margin: 0 15px 0;
		outline: none;
	}

	.header__search-input::placeholder {
		display: none;
		color: #fff;
	}

	.header__search-button {
		margin: 0 15px 0 0;
		padding: 0;
		border: none;
		background-color: transparent;
		display: flex;
		align-items: center;
	}

	.header__search-button:hover {
		cursor: pointer;
		opacity: 0.6;
	}

	.header__search-button:first-of-type {
		display: none;
	}
}
