.error-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	height: 100%;
}

.error-page__status {
	width: 570px;
	height: 546px;
	background-image: url('../../images/projector.png');
	align-self: center;
}

.error-page__message {
	font-size: 35px;
	line-height: 43px;
	color: white;
	margin-block-end: 0px;
	font-weight: bold;
}

.error-page__text {
	font-size: 18px;
	line-height: 25px;
	color: white;
	margin-top: 20px;
	margin-bottom: 65px;
}

.error-page__button {
	width: 240px;
	height: 50px;
	padding: 15px 10px 15px 10px;
	border-radius: 10px;
	gap: 10px;
	background: transparent;
	color: #ffffff;
	border: 1px solid #ffffff;
	align-self: center;
	margin-bottom: 65px;
	cursor: pointer;
}

.error-page__button a {
	text-decoration: none;
	color: white;
}
@media screen and (max-width: 1024px) {
	.error-page__img {
		height: 546px;
		width: 570px;
		margin-top: -60px;
	}
	.error-page__status {
		background-image: url('../../images/projector_for_1024.png');
		height: 546px;
		width: 570px;
	}
	.error-page__message {
		font-weight: 700;
		margin-top: -20px;
	}
}
