.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 178px;
	background-color: #4b556333;
	max-width: 1440px;
	margin: 0 auto;
}

.footer__desc {
	font-weight: 500;
	font-size: 18px;
	line-height: 22.59px;
	text-align: center;
	color: #fff;
	margin-left: 120px;
}

.footer__scroll {
	text-decoration: none;
	margin-right: 120px;
}

.footer__scroll:hover {
	opacity: 0.6;
}
