.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 118px;
	background-color: #4b556333;
	max-width: 1440px;
	margin: 0 auto;
}

.footer__desc {
	font-weight: 500;
	font-size: 18px;
	line-height: 22.59px;
	text-align: center;
	color: #fff;
	margin-left: 120px;
}

.footer__scroll {
	position: fixed;
	bottom: 100px;
	left: 78%;
	z-index: 1000;
	background: transparent;
	border: 0;
	opacity: 0.4;
	color: #9ca3af;
	transition: all 1s;
}

.footer__scroll:hover {
	opacity: 1;
	cursor: pointer;
}

.footer__scroll-button {
	width: 125px;
}

.scroll-hidden {
	visibility: hidden;
	opacity: 0;
	transition: all 2s;
}
