.searchGeneral {
	width: 525px;
	height: 340px;
	border-radius: 5px;
	background-color: #fff;
	position: absolute;
	top: 55px;
	display: none;
	z-index: 5;
}

.searchGeneral_open {
	display: block;
}
