.bookmark_favorite {
	margin-bottom: 5px;
	position: relative;
}

@media screen and (max-width: 1297px) {
	.bookmark_favorite {
	}
}

.bookmark_fon {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: #374151;
	cursor: pointer;
}

.bookmark_favorite:hover .bookmark_fon {
	background-color: #111827;
}

.bookmark_img {
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
