.moviepage {
	max-width: 1440px;
	height: auto;
	margin: 0 auto;
}

.moviepage__container {
	max-width: 1110px;
	display: flex;
	flex-wrap: wrap;
	margin: 50px 165px 0;
	padding-bottom: 83px;
	gap: 53px 28px;
}

.movie-block {
	display: flex;
	gap: 27px;
}

.movie-block__img {
	width: 542.791px;
	height: 317.904px;
}

.movie-block__text {
	max-width: 380px;
	color: #fff;
}

.movie-block__text_title {
	font-size: 36px;
	font-family: DM Sans;
	font-style: normal;
	font-weight: 700;
	line-height: 30px;
}

.movie-block__text_year {
	font-size: 15px;
	font-family: DM Sans;
	font-style: normal;
	font-weight: 700;
	line-height: 18px;
	margin: 10px 0 10px 0;
}

.movie-block__text_subtitle {
	font-size: 14px;
	font-family: DM Sans;
	font-style: normal;
	font-weight: 500;
	line-height: 18px;
}

/* .movie-block__rating {

} */

.moviepage__button__container {
	margin: 21px 0 0 0;
	display: flex;
	gap: 30px;
}
