.moviepage {
	max-width: 1440px;
	height: auto;
	margin: 0 auto;
}

.moviepage__container {
	max-width: 1110px;
	display: flex;
	flex-wrap: wrap;
	margin: 50px 165px 0;
	padding-bottom: 83px;
	gap: 53px 28px;
}

.movie-block {
	display: flex;
	gap: 33px;
}

.movie-block__img {
	width: 255px;
	height: 350px;
	border-radius: 10px;
	object-fit: cover;
}

.movie-block__text {
	color: #fff;
}

.movie-block__text_title {
	font-size: 36px;
	font-family: DM Sans;
	font-style: normal;
	font-weight: 700;
	line-height: 30px;
	margin: 0;
}

.movie-block__text_year {
	font-size: 15px;
	font-family: DM Sans;
	font-style: normal;
	font-weight: 700;
	line-height: 18px;
	margin: 10px 0 10px 0;
}

.movie-block__text_subtitle {
	font-size: 14px;
	font-family: DM Sans;
	font-style: normal;
	font-weight: 500;
	line-height: 18px;
}

/* .movie-block__rating {

} */

.moviepage__button__container {
	display: flex;
    flex-direction: column;
    margin: 0 0 0 100px;
    gap: 30px;
    justify-content: space-between;
    align-items: flex-end;
}

.moviepage__button__container {

}
