.flank {
	background-color: #0c0c0c;
	max-width: 1440px;
	height: auto;
	margin: 0 auto;
}

.flank_title {
	color: white;
	font-size: 35px;
	font-weight: 700;
	line-height: 43.4px;
	margin: 0 165px;
	padding-top: 20px;
}

.flank_container {
	max-width: 1110px;
	display: flex;
	flex-wrap: wrap;
	margin: 50px 165px 0;
	padding-bottom: 83px;
	gap: 53px 28px;
}

.flank__text__container {
	margin: 20px 0 100px 165px;
	display: flex;
	flex-direction: row;
}

.flank__text {
	font-family: Mulish;
	font-size: 30px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	color: white;
	margin: 0;
}

@media screen and (max-width: 1297px) {
	.flank__text__container {
		margin: 20px 0 100px 60px;
	}
}

.flank__image {
	width: 45px;
	height: 45px;
	padding: 20px 0 0 40px;
}

.flank_btn {
	display: flex;
	justify-content: center;
	margin: 0 auto 100px;
}